<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Reserva</title>
    </h:head>
    <h:body>
        <ui:composition template="welcomePrimefaces.xhtml">
            <ui:define name="content">
                <h:form id="formprincipal">
                    <p:panel header="#{reservaManagedBean.reserva.id==null?'INGRESO DE CANCHA':'ACTUALIZAR CANCHA'}"
                             rendered="#{reservaManagedBean.reserva!=null}">
                        <div aligen="center">
                            <center>
                                <h:panelGrid columns="2">
                                    <p:outputLabel value="NOMBRE"></p:outputLabel>
                                    <p:inputText value="#{reservaManagedBean.reserva.nombre}"></p:inputText>

                                    <p:outputLabel value="APELLIDO"></p:outputLabel>
                                    <p:inputText value="#{reservaManagedBean.reserva.apellido}"></p:inputText>

                                    <p:outputLabel value="CANCHA"></p:outputLabel>
                                    <p:inputText value="#{reservaManagedBean.reserva.cancha}"></p:inputText>

                                    <p:outputLabel value="FECHA"></p:outputLabel>
                                    <p:calendar value="#{reservaManagedBean.reserva.fecha}"></p:calendar>

                                    <p:outputLabel value="HORA"></p:outputLabel>
                                    <p:inputText value="#{reservaManagedBean.reserva.hora}"></p:inputText>

                                    <p:outputLabel value="DESCRIPCIÓN"></p:outputLabel>
                                    <p:inputText value="#{reservaManagedBean.reserva.descripcion}"></p:inputText>
                                </h:panelGrid>
                            </center>
                        </div>
                        <br/>
                        <div aligen="center"> 
                            <center>
                                <p:commandButton value="CANCELAR" action="#{reservaManagedBean.cancelar()}" 
                                                 update="formprincipal">
                                </p:commandButton>

                                <p:commandButton value="GUARDAR" action="#{reservaManagedBean.grabar()}" 
                                                 update="formprincipal">
                                </p:commandButton>
                            </center>
                        </div>
                    </p:panel>

                    <p:panel header="LISTA DE CANCHAS" rendered="#{reservaManagedBean.reserva==null}">
                        <div align="center">
                            <p:commandButton value="NUEVO" action="#{reservaManagedBean.nuevo()}"
                                             update="formprincipal">                        
                            </p:commandButton>
                            <br/>
                            <br/>
                            <p:dataTable id="tablapartido" value="#{reservaManagedBean.listaReserva}" var="par">

                                <p:column headerText="NOMBRE">
                                    <p:outputLabel value="#{par.nombre}"></p:outputLabel>
                                </p:column>

                                <p:column headerText="APELLIDO">
                                    <p:outputLabel value="#{par.apellido}"></p:outputLabel>
                                </p:column>

                                <p:column headerText="CANCHA">
                                    <p:outputLabel value="#{par.cancha}"></p:outputLabel>
                                </p:column>

                                <p:column headerText="FECHA">
                                    <p:outputLabel value="#{par.fecha}">
                                        <f:convertDateTime pattern="YYYY-MM-dd"></f:convertDateTime>
                                    </p:outputLabel>
                                </p:column>

                                <p:column headerText="HORA">
                                    <p:outputLabel value="#{par.hora}"></p:outputLabel>
                                </p:column>

                                <p:column headerText="DESCRIPCIÓN">
                                    <p:outputLabel value="#{par.descripcion}"></p:outputLabel>
                                </p:column>

                                <p:column headerText="EDITAR">
                                    <center>
                                        <p:commandButton icon="ui-icon-check" action="#{reservaManagedBean.seleccionar(par)}"
                                                         update=":formprincipal">                        
                                        </p:commandButton>
                                    </center>
                                </p:column>

                                <p:column headerText="ELIMINAR">
                                    <center>
                                        <p:commandButton icon="ui-icon-trash"
                                                         action="#{reservaManagedBean.eliminar(par)}"                                                   
                                                         update=":formprincipal">
                                        </p:commandButton>
                                    </center>
                                </p:column>
                            </p:dataTable>
                        </div>            
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>

